<h1>Flights</h1>
<% @flights.each do |flight| %>
  <h2>Flight #: <%= flight.number %></h2>
  <h3>Airline: <%= flight.airline.name %></h3>
  <h3>Passengers:</h3>
  <% flight.passengers.each do |passenger| %>
    <%= passenger.name %>
    <%= link_to "Remove #{passenger.name}", passenger_path(id: passenger.id, flight_id: flight.id),  method: :delete  %>
    <br></br>
  <% end %>
<% end  %>
